SHOPIFY_SHOP=califlorashop.myshopify.com
SHOPIFY_CLIENT_ID=21c735fbddb2dfc938176dd3f4780b24
SHOPIFY_CLIENT_SECRET=
SHOPIFY_SCOPES=read_customers,read_orders
SHOPIFY_REDIRECT_URI=http://localhost:5173/auth/callback
